<!DOCTYPE html>
<html data-ng-app="appNote">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="app/noteApp.js"></script>
    <script src="app/noteController.js"></script>
    <script src="cookies"></script>
</head>
<body data-ng-controller="NoteController as cnote">
    <label>Note:</label> <br />
    <textarea  data-ng-model="cnote.messageNote" data-ng-change="cnote.info='note modifiée'" name="messageNote" id="messageNote"></textarea> <br />
    <input type="button" id="enregistrer"  value="enregistrer" data-ng-click="cnote.save()"/>
    <input type="button" id="effacer" value="effacer" data-ng-click="cnote.clear()"/>
    <p data-ng-bind="cnote.count()">100</p>
    <span data-ng-bind="cnote.info"></span>
</body>
</html>